/* Home Page*/

/*header*/

#headerdetails{
    font-family: "fuggles", "cursive";
    font-weight: 700;
    font-size: 2rem;
}

.navbar .navbar-brand{
    font-size: 5rem;

    
}


/*body*/

.main{
    position: relative;
    background-color:rgb(238, 231, 223);
    top: 146px;
}

#introfont{
    font-family: "fuggles", "cursive";
    font-size: 5rem;
}
#intropic{
    width: 550px;
    height: auto;

}

#subheads{
    font-size: 3rem;
    font-family: "fuggles", cursive;
}