/* Home Page*/

/*header*/

#headerdetails{
    font-family: "fuggles", "cursive";
    font-weight: 700;
    font-size: 2rem;
}

.navbar .navbar-brand{
    font-size: 5rem;

    
}


/*body*/

.main{
    position: relative;
    top: 146px;
    background-color: rgb(238, 231, 223);
}

#introfont{
    font-family: "fuggles", "cursive";
    font-size: 5rem;
}
#intropic{
    width: 550px;
    height: auto;

}

#subheads{
    font-size: 3rem;
    font-family: "fuggles", cursive;
}


/*about me*/

#aboutimg{
    width: 350px;
    height:auto;
    border-radius: 25%;
    
}

#aboutimgaj{
    width: 350px;
    height:90%;
    border-radius: 25%;
    
}

#aboutP{
    width: 350px;
    font-size: 1.5rem;
}

#abouth2{
    width: 350px;
    font-family: "fuggles", cursive;
    font-size: 5rem;
}





/*Blog page*/

#titlefont{
    font-family: "fuggles",cursive;
}
 #blogspad{
     padding-left: 20px;
     padding-right: 20px;
     word-spacing: 3px;
 }
 
 #blogp{
     word-spacing: 3px;
 }


#blogtoc{
   border-width:  20px !important;
  
}

#blogtoch6{
    font-size: 3rem;
    font-family: "fuggles", cursive;
}

#licenter{
    list-style-position: inside;
    text-align: center;
}


/*footer section*/

.footer{
    position: relative;
    top: 146px;
    height: 50px;
}

footer i{
    padding:17px 10px 0 0
}

footer p{
    padding-top: 20px;
    padding-left: 10px;
    font-size: larger;
}




